html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

body{
    text-align: center;
}

#question{
    font-weight: bold;
}

#answer{
    font-style: italic;
}